@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Expense Management</h1>
    <img src="https://global-uploads.webflow.com/5dd3ac2a77520f09d34aa5b0/6176cd70b025f8386a938d8b_automated%20expense%20management%20software%402x.png" alt="Expense Management Image" style="display: block; margin: 0 auto;">
</div>
